<h1> Calendars</h1>
<%= week_calendar do |date| %>
<%if Date.current.to_s <= date.to_s  %>
  <%link_to calendar_path("#{day(date)}#{date}") do %>
    <%= date %>
  <%end %>
<% else %>
  <%= date %>
  <%end%>
<% end %>
<%if user_signed_in? %>
  <h1>In</h1>
<% else %>
  <h1>Out</h1>
<% end %>