<%= week_calendar do |date| %>
  <%unless outdated? date  %>
    <%link_to calendar_path("#{day(date)}#{date}") do %>
      <%= date %>
    <%end %>
  <% else %>
    <span class="outdated">Not Available</span>
  <%end%>
<% end %>
